
#view-horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a3066f;
    color: white;
    width: 110px;
}

#view-horizontal-list li {
    float: left;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#view-horizontal-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#view-horizontal-list li:hover{
    background-color: #111111;
}

#view-horizontal-list li a:hover {
    background-color: #111111;
}
